<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole("HOD"))
                        {
                            <li>@Html.ActionLink("Cancel Admission", "CancleAdmission", "HOD", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        @if (User.IsInRole("HOD") || User.IsInRole("Teacher"))
                        {
                            <li>@Html.ActionLink("update Marks", "updateMarks", "Teacher", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        @if (User.IsInRole("HOD") || User.IsInRole("Student"))
                        {
                            <li>@Html.ActionLink("ShowStudent Details", "ShowDetails", "Student", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Update Student Details", "UpdateDetails", "Student", new { area = "" }, new { @class = "nav-link" })</li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink("Log Out", "LogOut", "Office", new { area = "" }, new { @class = "nav-link" })


                            </li>
                            @Html.Label(" Welcome: " + @User.Identity.Name, new { @class = "navbar-brand" })
                        }
                        else
                        {
                            <li>
                                @Html.ActionLink("Log In", "login", "Office", new { area = "" }, new { @class = "nav-link" })

                        </li>

                    }
                    </ul>
                </div>
            </div>
          
        </div>
        </nav>

        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
                <p>welcome to my Website</p>
            </footer>
        </div>

        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>